@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
	background:linear-gradient(black,30%,#00c9f9);
    color: white;
}
a {
    text-decoration: none;
}

.container {
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    play-during: repeat;
}
p {
    color: white;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-align: justify;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
body {
    font-size: 18px;
    line-height: 1.42857143;
}

.cta:hover {
    color: black;
    background-color: white;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}


.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;

}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: #060610;
    transition: 0.3s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0 50px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    padding: 0 50px;
}
#header .nav-list ul.active {
    left: 0%;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	
    color: black;
	background-color:white;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
/* End Header section */

#hero .container{
    min-height: 100vh;
}

#hero .hero {
    max-width: 20px;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: flex-start;
}



#overview .overview {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    background-size: cover;
}


#overview .overview {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    background-size: cover;
}

#overview .overview-header {
    margin-bottom: 10px;
    color : white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#overview .h1{
    color: white;
}
#overview .overview-facts-container{
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#overview .overview-facts-cell {
    padding: 5px;
}
#overview .overview-facts-cell span{
    color: white;
    font-weight: bold;
}

#overview .overview-resume {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
#overview .overview-trailer{
    margin-top: 20px;
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

#overview .overview-trailer-header{
    text-align: left;
    width: 60%;
    padding-top: 60px;
    position: relative;
}
#overview .overview-trailer-header h1{
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 36px;
}
#overview .overview-trailer-header p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}
#overview .gif-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
	
	padding-top:100px;
}
#overview .gif-info{
    width: 50%;
    padding-right: 40px;
	
	align-self: center;
}
#overview .gif{
    height: max-content;
    width: 50%;
    align-self: center;
    margin-right: 30px;
}

#overview .details-img{
    padding: 20px 150px;
}





#overview .pillars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
}
#overview .pillars-container .details-img{
    padding: 0 30px;
}


#overview .details-container p{
    font-size: 18px;
    text-align: left;
    margin: 15px 0;
}
#overview .gif-container p{
    font-size: 18px;
    text-align: left;
    margin: 15px 0;
    text-indent: 30px;
 }

#overview .overview-fullGameplay{
    margin-top: 20px;
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

#overview .details-container{
    text-align: left;
    width: 60%;
    padding: 80px 0;
    position: relative;
}
#overview .details-container h1{
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#overview .details-container h2{
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#overview h3{
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

#overview .details-container p{
    font-size: 18px;
    text-align: left;
}

#overview .imageFavoriteGame{
	display:flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;
}
#overview .imageFavoriteGame img{
	width:250px;
	height:250px;
}







#ResumeGame {
	display:flex;
    flex-direction: raw;
	flex:1;
	margin-top:200px;
	justify-content: center;
    align-items: center;
	background-color:white;
}

#ResumeGame .hero{
    position: relative;
    z-index: 1;
}
#ResumeGame .runCleanCover{
	width:60%;
}
#ResumeGame .cover{
	width:430px;
	height:620px;
}



#ResumeGame .aboutMeImg{
	width:300px;
	height:350px;
}
#ResumeGame .textPrensentation{
    align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
}
#ResumeGame .overview-facts-container-perso{
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#ResumeGame .cv{
	margin-top:50px;
	background-color: Black;
	border: solid;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}
#ResumeGame .cv:hover {
  background-color: white;
  color: black;
}
#ResumeGame .cv p{
	color:white;
}
#ResumeGame .cv:hover p{
	color:black;
}




#ResumeGame .overview {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    background-size: cover;
}

#ResumeGame .overview-header {
    margin-bottom: 10px;
    color : black;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}
#ResumeGame .h1{
    color: black;
}
#ResumeGame .overview-facts-container{
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#ResumeGame .overview-facts-cell {
    padding: 5px;
}
#ResumeGame h2{
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#ResumeGame h3{
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

#ResumeGame p{
    font-size: 18px;
    text-align: left;
	color:black;
}
#ResumeGame td{

	color:black;
}
#ResumeGame .textGameplay{
	display:flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 10%;
}




#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
#contact .section-title{
    color: black;
	margin-bottom: 50px;
    margin-top: 50px;
}
#contact {
    background-color: white;
}
#contact .contact-items {
    width: 100%;
}

#contact .contact-item {

    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .icon img{
    width: 60px;
}
#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

#contact .Network {
	width: 95%;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
}

/*End contact Section */

#contact h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact .social-icon {
    display: flex;
    margin-bottom: 30px;
}
#contact .social-item {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}
#contact .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}
#contact .social-item:hover img {
    filter: grayscale(0);
}
#contact p {
    color: white;
    font-size: 1.3rem;
} 
    /* End contact  */











@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }


    /* contact  */
    #contact .section-title
    {
        margin-top: 0px;
    }

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
	
    #overview .overview-resume {
        font-size: 22px;
        font-weight: 400;
    }

    #overview .pillars-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 0;
    }
    #overview .pillars-container .details-img{
        padding: 0 30px;
    }
}

  

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #contact .section-title
    {
        margin-top: 0px;
    }

    #overview .overview-resume {
        font-size: 22px;
        font-weight: 400;
    }
}
/* End header */